@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Patcham Memorial Hall Bookings</h1>
    <p class="lead">Use the calendar below to make a provisional booking</p>
</div>

<div class="row">
    <div class="col-md-4"><h3>Tasks</h3></div>
    <div class="col-md-8"><h3>Bookings</h3></div>
</div>

<div class="row">
    <div id="tasks" class="col-md-4"></div>
    <div id="calendar" class="col-md-8"></div>
</div>

<div id="dialog"  />

@section scripts {
    <script type="text/javascript">
        function showError(xhr, status, error)
        {
            alert("An AJAX error occured: " + status + "\nError: " + error);
        }
        function showBookingForm(data)
        {
            $('#dialog').html(data).dialog({
                title: 'Book',
                resizable: false,
                modal: true,
                width: 'auto',
                buttons: {
                    "Submit": function ()
                    {
                        $.post("/Booking/Booking", $('form').serialize(), function (result) {
                            if (result == "ReFetch") {
                                $('#dialog').dialog("close");
                                $('#calendar').fullCalendar('refetchEvents');
                            }
                            else {
                                showBookingForm(result);
                            }
                        }).fail(function (xhr, status, error) {
                            showError(xhr, status, error);
                        });
                        return false;
                    }
                }
            });
            $('#Date').datepicker();
            $('#StartHour').spinner({ min: 0, max: 23 });
            $('#EndHour').spinner({ min: 0, max: 60 });
            $('#StartMinute').spinner({ min: 0, max: 23 });
            $('#EndMinute').spinner({ min: 0, max: 60 });
        }
        function showBooking(bookingId)
        {
            window.location.href = "/Booking/BookingMaintenanceForm/" + bookingId
        }
        function showViewBooking(data,bookingId) {
            $('#dialog').html(data).dialog({
                title: 'Book',
                resizable: false,
                modal: true,
                width: 'auto',
                buttons: {
                    "Manage": function () {
                        window.location.href = "/Booking/BookingMaintenanceForm/" + bookingId
                    }
                }
            });
            $('#Date').datepicker();
            $('#StartHour').spinner({ min: 0, max: 23 });
            $('#EndHour').spinner({ min: 0, max: 60 });
            $('#StartMinute').spinner({ min: 0, max: 23 });
            $('#EndMinute').spinner({ min: 0, max: 60 });
        }
        function showTasks()
        {
            $.get("/Booking/Tasks", function (results)
            {
                $.each(results, function (index, value) {
                    $('#tasks').append("<h3>" + value.Header + "</h3><div><p>" + value.Description + "</p><button type='button' onclick='showBooking("+value.BookingId+")'>Manage</button></div>")
                });
                $('#tasks').accordion();
            });
        }
        $(document).ready(function () {
            showTasks();
            $('#calendar').fullCalendar({
                events: function (start, end, timezone, callback)
                {
                    $.get("/Booking/CalendarEvents", { startDate: start.toString(), endDate: end.toString() }, function (results) {
                        var events = [];
                        $.each(results,function (index,value)
                        {
                            events.push(
                                {
                                    id: value.id,
                                    title: value.title,
                                    start: value.start,
                                    end: value.end
                                });
                        });
                        callback(events);
                    }).fail(function (xhr, status, error) {
                        showError(xhr, status, error);
                    });
                },
                eventClick: function(calEvent, jsEvent, view)
                {
                    $.get("/Booking/Booking/" + calEvent.id, function (results) {
                        showViewBooking(results, calEvent.id);
                    }).fail(function (xhr, status, error) {
                        showError(xhr, status, error);
                    });
                },
                dayClick: function (date, jsEvent, view) {
                    
                    $.get("/Booking/BookingForm", { selectedDate: date.toString() }, function (data) {
                        showBookingForm(data);
                    }).fail(function (xhr, status,error) {
                        showError(xhr, status, error);
                    })
                }
            });
        });
</script>
    }